.container {
    margin-bottom: 100px;
}

.sign-up {
    background-image: linear-gradient(to bottom, #006018 0%, #00771696 100%);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 9px 25px;
    cursor: pointer;
}

.sign-up:hover {
    background-image: linear-gradient(to bottom, #008923 0%, #00f42d9b 100%);
}

.green-color{
    color: green;
    font-weight: 700;
}
.orange-bg{
    color: orangered;
    font-size: small;
    font-weight: 500;
}

.cat1{
    background-color: rgb(232, 244, 248);
    padding: 20px 20px;
    border-radius: 10px;
}
.cat1 h6{
    font-weight: 200;
}
.cat1:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: white;
}

.online{
    color: rgb(65, 1, 65);
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    margin-top: 80px;
}

.card-footers p{
margin-top: 15px;
margin-right: 5px;
}

.testimonial{
    margin-top: 180px;
    font-weight: 700;
}

.last-col{
    margin-top: 100px;
}